<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>しょくする</title>
  <link rel="manifest" href="manifest.json">
  <script async src="https://cdn.jsdelivr.net/npm/pwacompat" crossorigin="anonymous"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-[#FFFEEE]">
  <header class="bg-[#ED6B7B] text-white fixed w-full z-10">
    <div x-data class="container mx-auto px-4 py-2 relative border-[#ADADAD] border-b">
      <svg class="mx-auto" width="72" height="49" viewBox="0 0 72 49" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.54778 45.2543C6.09987 45.0923 6.65195 45.4972 6.65195 46.0709V47.0968C6.65195 47.8932 5.99888 48.5479 5.20441 48.5479H1.44754C0.632878 48.5479 0 47.8932 0 47.0968V37.0743C0 36.6828 0.309706 36.3724 0.700206 36.3724C1.0907 36.3724 1.40041 36.6828 1.40041 37.0743V47.1643H5.23808L4.96203 46.6243C4.69946 46.0709 4.9755 45.4162 5.54778 45.2543Z" fill="#FFFEEE"/>
        <path d="M21.9554 44.4106C22.2786 44.4106 22.5547 44.6738 22.5547 44.9978C22.5547 45.3217 22.2786 45.585 21.9554 45.585H20.656V47.1035C20.656 47.8999 20.003 48.5546 19.2085 48.5546H17.9899C17.1954 48.5546 16.5558 47.8999 16.5558 47.1035V45.8617C16.5558 45.0653 17.1887 44.4106 17.9899 44.4106H19.4172V39.342C19.4172 38.9978 19.6932 38.7211 20.0366 38.7211C20.38 38.7211 20.656 38.9978 20.656 39.342V40.5501H21.9756C22.2988 40.5501 22.5614 40.7931 22.5614 41.1238C22.5614 41.4545 22.2988 41.7109 21.9756 41.7109H20.656V44.4174H21.9554V44.4106ZM19.4172 47.3937V45.585H17.7407V47.3937H19.4172Z" fill="#FFFEEE"/>
        <path d="M34.2832 42.3859L38.3834 47.225C38.5315 47.4073 38.646 47.5355 38.646 47.8595C38.646 48.2981 38.2892 48.6559 37.865 48.6559C37.4408 48.6559 37.084 48.2981 37.084 47.8729L32.4519 42.3926C32.1893 42.1024 32.223 41.657 32.5327 41.4005C32.775 41.1913 33.1319 41.1913 33.3944 41.3668L37.3264 37.4725L37.2792 37.4388C36.8416 37.1283 36.8753 36.4736 37.3264 36.2172C37.8179 35.9202 38.4507 36.1834 38.5921 36.7368V36.7503C38.7739 37.432 38.5585 38.1677 38.0535 38.6604L34.2832 42.3791V42.3859Z" fill="#FFFEEE"/>
        <path d="M55.3297 37.9045C55.6731 37.9045 55.9626 38.1812 55.9626 38.5389C55.9626 38.8966 55.6664 39.1935 55.3297 39.1935H54.7776V47.198C54.7776 48.0147 54.1246 48.6491 53.3301 48.6491H52.2394C51.7344 48.6491 51.3776 48.1632 51.5392 47.6705C51.7344 47.1508 52.3202 46.9213 52.8049 47.1643L53.4244 47.4545V45.5175H50.8255C50.0311 45.5175 49.378 44.8831 49.378 44.0664V42.2374C49.378 41.441 50.0311 40.7863 50.8255 40.7863H53.4244V39.1868H48.8394C48.4825 39.1868 48.1863 38.8898 48.1863 38.5321C48.1863 38.1744 48.4758 37.8977 48.8394 37.8977H53.4244V36.9191C53.4244 36.5614 53.7341 36.2509 54.0909 36.2509C54.4477 36.2509 54.7709 36.5614 54.7709 36.9191V37.8977H55.323L55.3297 37.9045ZM50.6774 44.2149H53.4244V42.0957H50.6774V44.2149Z" fill="#FFFEEE"/>
        <path d="M71.3335 41.7987C71.7105 41.7987 72 42.1092 72 42.4669V47.0968C72 47.8932 71.3671 48.5479 70.5727 48.5479H65.6308C65.274 48.5479 64.9643 48.2374 64.9643 47.8797C64.9643 47.603 65.1259 47.36 65.3683 47.2588L66.3109 45.2205C66.5196 44.7616 66.9909 44.4511 67.516 44.4511C67.9873 44.4511 68.3643 44.8291 68.3643 45.3015V47.1913H70.6737V43.2633H65.3548C65.0114 43.2633 64.7219 42.9731 64.7219 42.6086C64.7219 42.2442 65.0182 41.9742 65.3548 41.9742H65.4693L68.4451 38.3094H65.8396C65.2875 38.3094 64.8297 37.8505 64.8297 37.297V36.9528C64.8297 36.5951 65.1192 36.2847 65.4962 36.2847C65.8732 36.2847 66.1493 36.5951 66.1493 36.9528V37.0203H69.5022L69.5695 36.9393C69.7984 36.6491 70.2226 36.6154 70.4986 36.8381C70.7881 37.0676 70.842 37.4928 70.5996 37.783L67.1996 41.9742H70.9093C71.0238 41.8595 71.1854 41.792 71.347 41.792L71.3335 41.7987ZM67.0919 46.0237L66.5398 47.1981H67.0919V46.0237Z" fill="#FFFEEE"/>
        <path d="M34.8419 6.04839L28.7824 16.5703C28.0755 17.8054 28.9575 19.3442 30.3781 19.3442H42.497C43.9176 19.3442 44.8063 17.8054 44.0927 16.5703L38.0332 6.04839C37.3263 4.8133 35.5488 4.8133 34.8351 6.04839H34.8419Z" stroke="#FFFEEE" stroke-miterlimit="10"/>
        <path d="M38.6863 12.9596H34.1956V19.351H38.6863V12.9596Z" fill="#FFFEEE"/>
        <path d="M51.3709 15.2542L36.4444 1.81665L21.5247 16.3476" stroke="#FFFEEE" stroke-miterlimit="10"/>
        <path d="M29.3682 19.0472V28.8538L34.1955 26.4106" stroke="#FFFEEE" stroke-miterlimit="10"/>
        <path d="M41.8372 21.0787L37.636 25.3577" stroke="#FFFEEE" stroke-miterlimit="10"/>
        <path d="M29.7117 19.351L43.0425 29.5759" stroke="#FFFEEE" stroke-miterlimit="10"/>
        <path d="M36.4444 31.3037C44.7922 31.3037 51.5594 24.52 51.5594 16.1519C51.5594 7.78372 44.7922 1 36.4444 1C28.0966 1 21.3293 7.78372 21.3293 16.1519C21.3293 24.52 28.0966 31.3037 36.4444 31.3037Z" stroke="#FFFEEE" stroke-miterlimit="10"/>
      </svg>
      <button class="absolute top-1/2 right-5 transform -translate-y-1/2" @click="location.pathname = 'settei.html'">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.4 2.5228C15.4 1.6816 14.7184 1 13.8772 1H12.124C11.2816 1 10.6 1.6816 10.6 2.5228C10.6 3.2164 10.1248 3.8116 9.478 4.066C9.376 4.1068 9.274 4.15 9.1744 4.1932C8.5372 4.4692 7.78 4.3852 7.288 3.8944C7.00245 3.60905 6.61528 3.44876 6.2116 3.44876C5.80792 3.44876 5.42075 3.60905 5.1352 3.8944L3.8944 5.1352C3.60905 5.42075 3.44876 5.80792 3.44876 6.2116C3.44876 6.61528 3.60905 7.00245 3.8944 7.288C4.3864 7.78 4.4704 8.536 4.192 9.1744C4.14826 9.27487 4.10625 9.37608 4.066 9.478C3.8116 10.1248 3.2164 10.6 2.5228 10.6C1.6816 10.6 1 11.2816 1 12.1228V13.8772C1 14.7184 1.6816 15.4 2.5228 15.4C3.2164 15.4 3.8116 15.8752 4.066 16.522C4.1068 16.624 4.15 16.726 4.192 16.8256C4.4692 17.4628 4.3852 18.22 3.8944 18.712C3.60905 18.9976 3.44876 19.3847 3.44876 19.7884C3.44876 20.1921 3.60905 20.5793 3.8944 20.8648L5.1352 22.1056C5.42075 22.3909 5.80792 22.5512 6.2116 22.5512C6.61528 22.5512 7.00245 22.3909 7.288 22.1056C7.78 21.6136 8.536 21.5296 9.1744 21.8068C9.274 21.8512 9.376 21.8932 9.478 21.934C10.1248 22.1884 10.6 22.7836 10.6 23.4772C10.6 24.3184 11.2816 25 12.1228 25H13.8772C14.7184 25 15.4 24.3184 15.4 23.4772C15.4 22.7836 15.8752 22.1884 16.522 21.9328C16.624 21.8932 16.726 21.8512 16.8256 21.808C17.4628 21.5296 18.22 21.6148 18.7108 22.1056C18.8522 22.2471 19.0201 22.3593 19.2049 22.4359C19.3897 22.5124 19.5878 22.5518 19.7878 22.5518C19.9878 22.5518 20.1859 22.5124 20.3707 22.4359C20.5555 22.3593 20.7234 22.2471 20.8648 22.1056L22.1056 20.8648C22.3909 20.5793 22.5512 20.1921 22.5512 19.7884C22.5512 19.3847 22.3909 18.9976 22.1056 18.712C21.6136 18.22 21.5296 17.464 21.8068 16.8256C21.8512 16.726 21.8932 16.624 21.934 16.522C22.1884 15.8752 22.7836 15.4 23.4772 15.4C24.3184 15.4 25 14.7184 25 13.8772V12.124C25 11.2828 24.3184 10.6012 23.4772 10.6012C22.7836 10.6012 22.1884 10.126 21.9328 9.4792C21.8926 9.37727 21.8506 9.27605 21.8068 9.1756C21.5308 8.5384 21.6148 7.7812 22.1056 7.2892C22.3909 7.00365 22.5512 6.61648 22.5512 6.2128C22.5512 5.80912 22.3909 5.42195 22.1056 5.1364L20.8648 3.8956C20.5793 3.61025 20.1921 3.44996 19.7884 3.44996C19.3847 3.44996 18.9976 3.61025 18.712 3.8956C18.22 4.3876 17.464 4.4716 16.8256 4.1944C16.7251 4.15025 16.6239 4.10784 16.522 4.0672C15.8752 3.8116 15.4 3.2164 15.4 2.524V2.5228Z" stroke="#FFFEEE" stroke-width="2"/>
          <path d="M17.8001 13C17.8001 14.2731 17.2944 15.4939 16.3942 16.3941C15.494 17.2943 14.2731 17.8 13.0001 17.8C11.727 17.8 10.5061 17.2943 9.60596 16.3941C8.70579 15.4939 8.20007 14.2731 8.20007 13C8.20007 11.727 8.70579 10.5061 9.60596 9.6059C10.5061 8.70572 11.727 8.20001 13.0001 8.20001C14.2731 8.20001 15.494 8.70572 16.3942 9.6059C17.2944 10.5061 17.8001 11.727 17.8001 13V13Z" stroke="#FFFEEE" stroke-width="2"/>
        </svg>
      </button>
    </div>
    <% if (tenki) { %>
    <div class="bg-[#FFFDD9] text-[#000] py-2 drop-shadow">
      <div class="flex justify-between px-4">
        <div class="font-bold text-sm my-auto flex items-center">
          <p>現在の天気</p>
          <img src="./img/tenki.png" alt="" class="ml-5">
          <p class="ml-5">大阪府</p>
          <p class="ml-5">32°</p>
        </div>
        <button class="font-bold text-sm my-auto rounded-full bg-[#fff] text-[#000] px-4 py-1 border-[#46A971] border-2">
          地域変更
        </button>
      </div>
    </div>
    <% } %>
  </header>