<%- include('../components/header', {tenki:true}) %>
  <main class="mt-32 mb-20">
    <div class="flex justify-center">
      <div class="container flex flex-col items-center mx-6">
        <p class="text-sm font-bold my-2">今日の予約</p>
        <div class="my-2 mx-6 bg-[#F0F0F0] rounded w-full h-[215px]">
          <p class="absolute text-[#333333] text-sm mt-4 ml-4">9月16日(木)</p>
          <div class="w-full h-full flex flex-col justify-center items-center">
            <p class="text-xs text-[#333333] text-center items-center">予約がありません</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="flex justify-end mx-6">
        <button class="bg-[#46A971] rounded-lg shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
          <p class="flex items-center text-sm text-[#fff] px-4 py-2">予約画面へ
            <svg class="ml-3" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M-1.82168e-07 1.175L3.7085 5L-8.50953e-07 8.825L1.1417 10L6 5L1.1417 5.28948e-07L-1.82168e-07 1.175Z" fill="white"/>
            </svg>  
          </p>
        </button>
      </div>
    </div>
    <div class="flex justify-center flex-wrap mt-12">
      <div class="container flex flex-col items-center mx-6">
        <p class="text-sm font-bold my-6">予約済み一覧</p>
      </div>
      <div class="container flex flex-col">
        <div class="flex justify-evenly">
          <div class="w-6/12 bg-[#F0F0F0] pt-2 pb-20 flex flex-col items-center rounded-xl">
            <p class="text-[#ED6B7B] text-xs mt-4">9月16日(木) 鮭のムニエル弁当 A</p>
            <p class="text-[#333333] text-xs mt-4">9月16日(木) 鮭のムニエル弁当 A</p>
            <p class="text-[#333333] text-xs mt-4">9月16日(木) 鮭のムニエル弁当 A</p>
          </div>
          <div class="w-4/12 flex flex-col items-center">
            <img class="w-full rounded-xl" src="./img/sakana.png" alt="">
            <p class="text-[#333333] text-xs mt-2">※キャンセルは前日まで</p>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include('../components/footer') %>