<%- include('../components/header') %>
  <main class="mt-32 mb-20">
    <div class="flex justify-center mt-24">
      <div class="w-64 h-64 bg-gray-200"></div>
    </div>
    <p class="text-center mt-10 text-[#000] font-bold text-2md">QRコード画面を機械にかざしてください。</p>
    <div class="flex justify-center bg-[#FFFDD9] py-4 mt-10 mx-4 drop-shadow-lg">
      <div class="w-full flex items-center">
        <div class="w-5/12 flex justify-center">
          <div class="w-24 h-24 bg-gray-200"></div>
        </div>
        <div class="w-6/12 flex-grow text-[#000] font-bold">
          <p>予約メニュー</p>
          <hr class="border-[#DADADA] w-11/12">
          <p class="mb-2">Aセット</p>
          <ul>
            <li>・ 鮭のムニエル弁当</li>
            <li>・ お茶</li>
          </ul>
        </div>
      </div>
      <hr class="my-2">
    </div>
  </main>
<%- include('../components/footer') %>