<%- include('../components/header', {tenki:false}) %>
  <main class="mt-32 mb-80">
    <p class="text-center text-[#000] font-bold">QRコード画面を機械にかざしてください。</p>
    <img src="/img/qr.png" class="my-4 mx-auto w-48 h-48" alt="QRコード">
    <div class="z-10 fixed bottom-20 left-0 w-full">
      <div class="flex justify-center bg-[#FFFDD9] py-2 mt-10 mx-4 drop-shadow-lg">
        <div class="w-full flex items-center">
          <div class="w-5/12 flex justify-center">
            <div class="w-24 h-24 bg-gray-200"></div>
          </div>
          <div class="w-6/12 flex-grow text-[#000] font-bold">
            <p>予約メニュー</p>
            <hr class="border-[#DADADA] w-11/12">
            <p class="mb-2">Aセット</p>
            <ul>
              <li>・ 鮭のムニエル弁当</li>
              <li>・ お茶</li>
            </ul>
          </div>
        </div>
        <hr class="my-2">
      </div>
    </div>
  </main>
<%- include('../components/footer') %>