<%- include('../components/header', {tenki:false}) %>
  <main class="mt-32 mb-20">
    <table class="border-none border-collapse border border-slate-400 w-full">
      <thead>
        <tr>
          <th></th>
          <th class="text-cetner">日替わり弁当</th>
          <th class="text-cetner">Aセット</th>
          <th class="text-cetner">Bセット</th>
        </tr>
      </thead>
      <tbody x-data>
        <template x-for="i in 6">
          <tr class="border border-slate-400">
            <td class="border border-slate-400 px-4 text-center" x-text="i"></td>
            <td class="border border-slate-400 px-4 text-center">
              <p>鮭のムニエル</p>
              <p>お茶</p>
            </td>
            <td class="border border-slate-400 px-4 text-center">
              <p>唐揚げ</p>
              <p>お茶</p>
            </td>
            <td class="border border-slate-400 px-4 text-center">
              <p>ハムサンドイッチ</p>
              <p>お茶</p>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </main>
<%- include('../components/footer') %>