<%- include('../components/header', {tenki:false}) %>
  <main class="mt-16 mb-20">
    <div class="bg-[#FFFDD9] flex justify-center">
      <div class="container flex flex-col mx-6">
        <p class="text-sm mt-4 text-left">こんだて一覧</p>
        <p class="text-md my-4 text-center">
          2022年
          <span class="ml-2 text-2xl font-bold">9月</span>
        </p>
      </div>
    </div>
    <table class="border border-slate-400 w-full">
      <thead class="bg-[#FFFDD9]">
        <tr>
          <th class="text-cetner text-sm py-1"></th>
          <th class="text-cetner text-sm py-1">日替わり弁当</th>
          <th class="text-cetner text-sm py-1">Aセット</th>
          <th class="text-cetner text-sm py-1">Bセット</th>
        </tr>
      </thead>
      <tbody x-data>
        <template x-for="i in 6">
          <tr class="border border-slate-400 text-sm">
            <td class="border border-slate-400 px-4 py-2 text-center bg-[#FFFDD9]" x-text="i"></td>
            <td class="border border-slate-400 px-4 py-2 text-center">
              <p>鮭のムニエル</p>
              <p>お茶</p>
            </td>
            <td class="border border-slate-400 px-4 py-2 text-center">
              <p>唐揚げ</p>
              <p>お茶</p>
            </td>
            <td class="border border-slate-400 px-4 py-2 text-center">
              <p>ハムサンドイッチ</p>
              <p>お茶</p>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div class="flex justify-center">
      <div class="container">
        <div x-data class="flex justify-evenly mt-8">
          <button class="bg-[#46A971] rounded-md w-32 h-12 flex justify-center items-center shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" @click="location.pathname = '<%= data.path %>/yoyaku.html'">
            <p class="text-xl text-[#fff]">予約する</p>
          </button>
        </div>
      </div>
    </div>
  </main>
<%- include('../components/footer') %>