<%- include('../components/header', {tenki:false}) %>
  <main>
    <div class="z-10 fixed top-20 right-3 absolute">
      <button>
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.5" filter="url(#filter0_d_143_58)">
            <rect x="4" width="42" height="42" rx="6" fill="#4A4A4A"/>
          </g>
          <path d="M31.2753 16.093L25.1648 28.8668L23.6668 24.3453L23.3198 23.2875L22.3021 22.8362L17.9535 20.8926L31.2753 16.093ZM36.1846 11.6534L12.8281 20.0749L12.7648 21.3345L21.2797 25.1324L24.2052 33.985L25.4647 34.0483L36.1846 11.6534Z" fill="white"/>
          <defs>
            <filter id="filter0_d_143_58" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_143_58"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_143_58" result="shape"/>
            </filter>
          </defs>
        </svg>
      </button>
    </div>
    <img src="./img/map.png" alt="" class="object-cover w-screen h-screen">
  </main>
<%- include('../components/footer') %>