<%- include('../components/header', {tenki:false}) %>
  <main class="mt-24 mb-20">
    <div class="flex justify-center">
      <h1 class="text-center text-[#000] text-2xl">設定</h1>
    </div>
    <div class="mt-8">
      <button class="w-full py-6 border-[#000] border">
        <div class="flex text-[#000] justify-between">
          <p class="ml-8">言語設定</p>
          <p class="mr-8 flex">
            日本語
            <svg class="ml-4 my-auto" width="10" height="16" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.646447" y1="19.6464" x2="10.6464" y2="9.64645" stroke="black"/>
              <line x1="10.6464" y1="10.3536" x2="0.646448" y2="0.353553" stroke="black"/>
            </svg>
          </p>
        </div>
      </button>
      <button class="w-full py-6 border-[#000] border">
        <div class="flex text-[#000] justify-between">
          <p class="ml-8">通知設定</p>
          <p class="mr-8 flex">
            <svg width="22" height="27" viewBox="0 0 22 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 27C10.2705 26.9965 9.57166 26.7113 9.05453 26.2061C8.53739 25.7009 8.24346 25.0162 8.23625 24.3H13.7362C13.7392 24.6609 13.6691 25.0189 13.53 25.353C13.3522 25.7536 13.0799 26.107 12.7357 26.3839C12.3914 26.6609 11.985 26.8536 11.55 26.946H11.4854C11.3256 26.9787 11.1631 26.9968 11 27ZM22 22.95H0V20.25L2.75 18.9V11.475C2.67756 9.57031 3.11566 7.68032 4.0205 5.994C4.46578 5.22081 5.07297 4.54911 5.80202 4.0232C6.53107 3.49729 7.36541 3.12913 8.25 2.943V0H13.75V2.943C17.2961 3.7719 19.25 6.8013 19.25 11.475V18.9L22 20.25V22.95Z" fill="black"/>
            </svg>
          </p>
        </div>
      </button>
      <button class="w-full py-6 border-[#000] border">
        <div class="flex text-[#000] justify-between">
          <p class="ml-8">ログイン管理</p>
          <p class="mr-8 flex">
            <svg class="ml-4 my-auto" width="11" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.646447" y1="19.6464" x2="10.6464" y2="9.64645" stroke="black"/>
              <line x1="10.6464" y1="10.3536" x2="0.646448" y2="0.353553" stroke="black"/>
            </svg>
          </p>
        </div>
      </button>
      <button class="w-full py-6 border-[#000] border">
        <div class="flex text-[#000] justify-between">
          <p class="ml-8">ヘルプ</p>
          <p class="mr-8 flex">
            <svg class="ml-4 my-auto" width="11" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.646447" y1="19.6464" x2="10.6464" y2="9.64645" stroke="black"/>
              <line x1="10.6464" y1="10.3536" x2="0.646448" y2="0.353553" stroke="black"/>
            </svg>
          </p>
        </div>
      </button>
      <button class="w-full py-6 border-[#000] border">
        <div class="flex text-[#000] justify-between">
          <p class="ml-8">お問い合わせ</p>
          <p class="mr-8 flex">
            <svg class="ml-4 my-auto" width="11" height="18" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.646447" y1="19.6464" x2="10.6464" y2="9.64645" stroke="black"/>
              <line x1="10.6464" y1="10.3536" x2="0.646448" y2="0.353553" stroke="black"/>
            </svg>
          </p>
        </div>
      </button>
    </div>
    <div class="mt-8 flex justify-center">
      <button class="text-[#FF0000] py-2 px-4 border-[#000] border rounded-full">
        ログアウト
      </button>
    </div>
  </main>
<%- include('../components/footer') %>